<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciador de Estoque</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>📦 Meu Estoque</h1>

      <a href="{{ url_for('adicionar') }}" class="btn-add"
        >Adicionar Novo Produto</a
      >

      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço (R$)</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
          <tr>
            <td>{{ produto.Nome }}</td>
            <td>{{ produto.Descricao }}</td>
            <td>
              {{ produto.Quantidade }} {% if produto.Quantidade == 0 %}
              <br />
              <span class="badge-esgotado">🚫 Esgotado!</span>

              {% elif produto.Quantidade < 5 %}
              <br />
              <span class="badge-alerta">⚠️ Estoque Baixo!</span>
              {% endif %}
            </td>
            <td>{{ "%.2f"|format(produto.Preco) }}</td>

            <td class="action-buttons">
              <a href="{{ url_for('editar', id=produto.ID) }}" class="btn-edit"
                >Editar</a
              >

              <a
                href="{{ url_for('remover', id=produto.ID) }}"
                class="btn-delete"
                onclick="return confirm('Tem certeza que deseja remover este produto?');"
              >
                Remover
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
